@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{ Layout = "_Layout.cshtml"; ViewData["Title"] = Model.Value("pageTitle"); }
<section class="shop">
  <h1>@Model.Value("pageTitle")</h1>
  <div>@Html.Raw(Model.Value("mainContent"))</div>
</section>
